<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{workshoppername}} Guide</title>
        <meta name="description" content="learn git and github">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900' rel='stylesheet' type='text/css'>
    </head>
  <body class="tableofcontents">

      <ul class="nav-lang">
        {{#langs}}
          <li><a href="{{url}}" >{{name}}</a></li>
        {{/langs}}
      </ul>
    <div class="wrapper">
      <header class="weehero">{{workshoppername}}</header>
      <!-- <h2>Welcome to {{workshoppername}}!</h2>
      <p>Step-by-step instructions for each of the challenges in the <a href="{{repo}}" target="_blank">{{workshoppername}} workshop</a>.</p>
      <p>This guide comes with {{workshoppername}} when you install it so it works offline and you can use it as a resource at anytime. Have fun!</p>

      <h2>{{workshoppername}} Challenges</h2> -->

      <ol class="toc">
        {{#each challenges}}
        <li><a href="{{url}}">{{name}}</a></li>
        {{/each}}
      </ol>

      <footer>
        <ul>
          <li class="all-caps"><a href="index.html"><strong>Challenges</strong></a></li>
          <li class="all-caps">
            <a href="{{repo}}/issues/new" target="_blank">Open an Issue</a>
          </li>
        </ul>
      </footer>

    </div>
  </body>
</html>
